# ===============================
# 🔒 Security
# ===============================
SECRET_KEY=


# ===============================
# 🗄️ PostgreSQL Database Settings
# ===============================
DB_HOST=
DB_PORT= 
DB_NAME=
DB_USERNAME= 
DB_PASSWORD=


# ===============================
# 🗄️ Supabase Database Settings
# ===============================
SUPABASE_SERVICE_KEY=
SUPABASE_URL=