<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login & Register Form</title>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body>
    <div class="container {% if active_tab == 'signup' %}active{% endif %}" data-active-tab="{{ active_tab }}">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>

        <!-----------------
             LOGIN FORM   
        ------------------>
        <div class="form-box Login">
            <h2 class="animation" style="--D:0; --S:21">Login</h2>
            <form method="POST" action="{{ url_for('user.login') }}">
                {{ login_form.hidden_tag() }} <!-- CSRF token -->

                <div class="input-box animation" style="--D:1; --S:22">
                    {{ login_form.username(class_="input", placeholder = " ") }}
                    <label>Username</label>
                    <box-icon type='solid' name='user' color="gray"></box-icon>
                    {% for error in login_form.username.errors %}
                        <small class="error">
                            <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
                        </small>
                    {% endfor %}
                </div>

                <div class="input-box animation" style="--D:2; --S:23">
                    {{ login_form.password(class_="input", placeholder = " ") }}
                    <label>Password</label>
                    <box-icon name='lock-alt' type='solid' color="gray"></box-icon>
                    {% for error in login_form.password.errors %}
                        <small class="error">
                            <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
                        </small>
                    {% endfor %}
                </div>

                <div class="input-box animation" style="--D:3; --S:24">
                    <button class="btn" type="submit">Login</button>
                </div>

                <div class="regi-link animation" style="--D:4; --S:25">
                    <p>Don't have an account? <br>
                        <a href="#" class="SignUpLink">Sign Up</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="info-content Login">
            <h2 class="animation" style="--D:0; --S:20">WELCOME BACK!</h2>
            <p class="animation" style="--D:1; --S:21">We are happy to have you with us again. If you need anything,
                we are here to help.</p>
        </div>

        <!-----------------
            SIGNUP FORM   
        ------------------>
        <div class="form-box Register">
            <h2 class="animation" style="--li:17; --S:0">Register</h2>
            <form method="POST" action="{{ url_for('user.signup') }}">
                {{ signup_form.hidden_tag() }} <!-- CSRF token -->

                <div class="input-box animation" style="--li:18; --S:1">
                    {{ signup_form.username(class_="input", placeholder = " ") }}
                    <label>Username</label>
                    <box-icon type='solid' name='user' color="gray"></box-icon>
                    {% for error in signup_form.username.errors %}
                        <small class="error">
                            <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
                        </small>
                    {% endfor %}
                </div>

                <div class="input-box animation" style="--li:19; --S:2">
                    {{ signup_form.email(class_="input", placeholder = " ") }}
                    <label>Email</label>
                    <box-icon name='envelope' type='solid' color="gray"></box-icon>
                    {% for error in signup_form.email.errors %}
                        <small class="error">
                            <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
                        </small>
                    {% endfor %}
                </div>

                <div class="input-box animation" style="--li:19; --S:3">
                    {{ signup_form.password(class_="input", placeholder = " ") }}
                    <label>Password</label>
                    <box-icon name='lock-alt' type='solid' color="gray"></box-icon>
                    {% for error in signup_form.password.errors %}
                        <small class="error">
                            <i class="bi bi-exclamation-circle-fill"></i> {{ error }}
                        </small>
                    {% endfor %}
                </div>

                <div class="input-box animation" style="--li:20; --S:4">
                    <button class="btn" type="submit" name="submit">Register</button>
                </div>

                <div class="regi-link animation" style="--li:21; --S:5">
                    <p>Already have an account? <br>
                        <a href="#" class="SignInLink">Sign In</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="info-content Register">
            <h2 class="animation" style="--li:17; --S:0">WELCOME!</h2>
            <p class="animation" style="--li:18; --S:1">We’re delighted to have you here.
                If you need any assistance, feel free to reach out.</p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>