{% extends "index.html" %}

{% block title %}Students{% endblock %}

{% block content %}

  <div class="text">Students</div>
  
  <div class="container mt-5">
    <table id="myDataTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ID Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Program</th>
                <th scope="col">Year Level</th>
                <th scope="col">Gender</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="placeholder-row">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-success"
                            data-bs-toggle="modal" 
                            data-bs-target="#addStudent">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </td>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.f_name}}</td>
                <td>{{student.l_name}}</td>
                <td>{{student.program}}</td>    
                <td>{{student.year_level}}</td>  
                <td>{{student.gender}}</td>  
                <td>
                    <button class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#editStudent"
                            data-student-id="{{student.id}}"
                            data-first-name="{{student.f_name}}"
                            data-last-name="{{student.l_name}}"
                            data-program-code="{{student.program}}"
                            data-year-level="{{student.year_level}}"
                            data-gender="{{student.gender}}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-danger"
                            data-bs-toggle="modal"  
                            data-bs-target="#studentDeletionModal"
                            data-student-id="{{student.id}}">
                        <i class="bi bi-trash"></i></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

<!-- ADD STUDENT MODAL -->
<div class="modal fade" id="addStudent" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Register Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="addStudentForm" method="POST" action="{{ url_for('student.register_student') }}">
                    <div class="mb-3">
                        <label for="studentID" class="form-label">ID Number:</label>
                        <input type="text" class="form-control" id="studentID" name ="id" placeholder="e.g. 2022-0525" required>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name ="f_name" placeholder="e.g. Miharu" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name ="l_name" placeholder="e.g. Michishige" required>
                    </div>
                    <div class="mb-3">
                        <label for="programCode" class="form-label">Program Code:</label>
                        <select class="form-select" id="programCode" name="program" required>
                            <option value ="" selected disabled>Select a College</option>
                            {% for program in programs %}
                            <option value="{{ program.code }}">{{ program.code }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="yearLevel" class="form-label">Year Level:</label>
                        <select class="form-select" id="yearLevel" name="year_level" required>
                            <option value ="" selected disabled>Select year</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender:</label>
                        <input type="text" class="form-control" id="gender" name= "gender" placeholder="Female" required>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="addStudentForm" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- ADD STUDENT CONFIRMATION MODAL -->
<div class="modal" id="addConfirmation" tabindex="-1" aria-labelledby="confirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="confirmationModalLabel">Student Added Successfully</h5>
            </div>
            <div class="modal-body">
                <p class="mt-3">Student has been added successfully.</p>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"> Confirm </button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT STUDENT MODAL -->
<div class="modal fade" id="editStudent" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="editStudentForm">
                    <input type="hidden" id="original_id" name="original_id"> <!-- Hidden input -->
                    <div class="mb-3">
                        <label for="studentID" class="form-label">ID Number:</label>
                        <input type="text" class="form-control" id="studentID" name ="id" placeholder="e.g. 2022-0525" required>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="f_name" placeholder="e.g. Miharu" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name = "l_name" placeholder="e.g. Michishige" required>
                    </div>

                    <div class="mb-3">
                        <label for="programCode" class="form-label">Program Code:</label>
                        <select class="form-select" id="programCode" name="program" required>
                            <option value ="" selected disabled>Select a College</option>
                            {% for program in programs %}
                            <option value="{{ program.code }}">{{ program.code }}</option>
                            {% endfor %}
                        </select>
                    </div>    
                    <div class="mb-3">
                        <label for="yearLevel" class="form-label">Year Level:</label>
                        <select class="form-select" id="yearLevel" name="year_level" required>
                            <option value ="" selected disabled>Select year</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender:</label>
                        <input type="text" class="form-control" id="gender" name="gender" placeholder="Female" required>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="editStudentForm" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- EDIT COLLEGE CONFIRMATION MODAL -->
<div class="modal" id="editConfirmation" tabindex="-1" aria-labelledby="editConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="editConfirmationLabel">Student Edited Successfully</h5>
            </div>
            <div class="modal-body">
                <p class="mt-3">Student data has been updated successfully.</p>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"> Confirm </button>
            </div>
        </div>
    </div>
</div>


<!-- DELETE STUDENT MODAL -->
<div class="modal" id="studentDeletionModal" tabindex="-1" aria-labelledby="studentDeletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="studentDeletionModalLabel">Confirm Student Deletion</h5>
            </div>
            <div class="modal-body">
                <p class="mt-3">
                    Are you sure you want to delete this student data? All necessary information about this student will
                    be permanently deleted.
                </p>
            </div>
            <div class="modal-footer justify-content-right">
                <form id="deleteStudentForm">
                    <input type="hidden" name="id" id="deleteStudentID"> <!-- Hidden input -->
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cancel </button>
                    <button type="submit" class="btn btn-success"> Confirm </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE STUDENT CONFIRMATION MODAL -->
<div class="modal" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deletionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="deleteConfirmationModal">Student Deleted</h5>
            </div>
            <div class="modal-body">
                <p class="mt-3">Student has been successfully deleted.</p>
            </div>
            <div class="modal-footer justify-content-right">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"> Confirm </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
